.contact {
    height: 100vh;
    display: flex;
    gap: 100px;
    position: relative;
    scroll-behavior: smooth;
    
  }
  
  .cSection {
    position: sticky;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cSection:last-child {
    background-color: rgba(4, 4, 75, 0.187);
    margin: 50px 0px;
    padding: 50px;
    border-radius: 50% 0px;
    border: 2px solid white;
  }
  
  form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(2, 2, 45, 0.066);
    padding: 50px;
    border: 2px solid rgb(36, 37, 117);
    border-radius: 50px;
  }
  
  input,
  textarea {
    padding: 12px;
    border: none;
    border-radius: 5px;
  }
  
  .formItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-size: 13px;
  }
  
  .formButton {
    background-color: #dd4c62;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  @media (max-width: 1280px) {
    .form {
      width: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .contact {
      gap: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .contact {
      flex-direction: row;
    }
  
    .cSection {
      width: 100%;
    }
  
    .cSection:first-child {
      height: 50%;
    }
    .cSection:last-child {

      height: 50%;
    }
  }
  @media (max-width: 576px){
    .contact{
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .cSection{
      width: 100%;
    }
    .cSection:first-child {
      height: 50%;
      width: 100%;
    }
    .cSection:last-child {
      margin-top: 250px;
      height: 60%;
      width: 100%;
    }
    form{
      width: 100%;
      padding: 10%;
    }

  }